<div class="jumbotron">
  <h1 class="text-center">
    Sales Item
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-sales-item-form></app-sales-item-form>
  </div>
  <div class="col-md-6">
    <h3>List of Sales Item</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Code</th>
          <th>Label Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salesitem of service.list">
          <td (click)="populateForm(salesitem)">{{ salesitem.code }}</td>
          <td (click)="populateForm(salesitem)">{{ salesitem.labelName }}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger"
            (click)="onDelete(salesitem.salesItemId)">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

