<div class="jumbotron">
  <h1 class="text-center">
    Customer
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-customer-form></app-customer-form>
  </div>
  <div class="col-md-6">
    <h3>List of Customer</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Code</th>
          <th>Full Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cust of service.list">
          <td (click)="populateForm(cust)">{{ cust.code }}</td>
          <td (click)="populateForm(cust)">{{ cust.completeName }}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger"
            (click)="onDelete(cust.customerId)">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

